<div> 
    <div class="">
        <a href="/products/{{this.productId}}">
            <img
            src="https://picsum.photos/id/{{ this.productId }}/300/200"
            class="rounded-md"
            alt="..." />
        </a>
    </div>
    <div class="p-1">
    <div class="">
        <h5 class="text uppercase font-bold font-poppins">
            <a href="/products/{{this.productId}}" class="hover:underline hover:text-rose-400">{{this.productName }}</a>
        </h5>
    </div>
    <div class="">
        <p class="font-poppins">{{ this.productPrice }}</p>
    </div>
   </div> 
</div>